{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="content-wrapper">
  <div id="loading"></div>

  <!-- Main content -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Change Detection</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Change_Det</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Before Image
        </h3>
        <h3 class="card-title" style="padding-left: 700px;">
          After Image
        </h3>
        
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body" >
        <!-- <button type="button" name="check_sentiments" id="check_sentiments"  onclick="">Check Sentiments</button> -->
        <div class="row mb-3">

          <div class="col-sm-6">
            <div class="ImageContainer" id="ImageContainer">

            </div>
          </div>
          <div class="col-sm-6">
            <div class="ImageContainer2" id="ImageContainer2">

            </div>


          </div>
        </div>


        <form role="form" id="quickForm" action="{% url 'change_detection'%}" method="POST"
          enctype="multipart/form-data"> 


          <div>
            {% csrf_token %}
            <div class="row mb-3">

              <div class="col-sm-5 center">
                <input type="file" name="myfile" accept="image/*"  id="inputfile" />
              </div>
              <div class="col-sm-5">

                <input type="file" name="myfile2" accept="image/*"  id="inputfile2"
                  style="padding-left : 140px" />
              </div>
            </div>
            <div style="padding-top : 20px;">
              <input type="submit" class="btn btn-primary" onclick="loaderdispaly(event)" id="change_det1"
                value="Detect Change" />
            </div>

          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<script>
  var preloader = document.getElementById("loading");

  function myFunction() {
    preloader.style.display = 'none';
  };

  function loaderdispaly(e) {
    preloader.style.display = 'block';
    // setTimeout(()=>{preloader.style.display='none';},);
  };


  document.getElementById("inputfile").addEventListener('change', (event) => {
    var v = document.getElementById("inputfile").files;
    console.log(v);


    document.getElementById("ImageContainer").innerHTML = "";
    for (i = 0; i < v.length; i++) {

      var img = document.createElement("img");
      img.src = URL.createObjectURL(v[i]);

      img.style.width = "600px";
      img.style.padding = "7px 3px 7px 3px";
      img.style.height = "400px";

      document.getElementById("ImageContainer").appendChild(img);
    }
  });

  document.getElementById("inputfile2").addEventListener('change', (event) => {
    var v = document.getElementById("inputfile2").files;
    console.log(v);

    document.getElementById("ImageContainer2").innerHTML = "";
    for (i = 0; i < v.length; i++) {

      var img = document.createElement("img");
      img.src = URL.createObjectURL(v[i]);

      img.style.width = "600px";
      img.style.padding = "7px 3px 7px 3px";
      img.style.height = "400px";

      document.getElementById("ImageContainer2").appendChild(img);
    }
  });
</script>


{% endblock %}