{% extends 'base.html' %} {% block content %} {% load static %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Edit User</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit User</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form
              role="form"
              id="myform"
              method="POST"
              action="{% url 'edit_user'%}"
              onsubmit="return validateform()"
            >
              {% csrf_token %}
              <input type="hidden" name="userid" value="{{userTB.id}}" />
              <div class="card-body">
                <div class="form-group">
                  <label for="fullname">Full Name</label>
                  <input
                    type="text"
                    name="fullname"
                    class="form-control"
                    id="fullname"
                    placeholder="Enter full name"
                    value="{{userTB.fullname}}"
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email address</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter email"
                    value="{{userTB.email_id}}"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    value="{{userTB.password}}"
                  />
                </div>
                <div class="form-group">
                  <label for="confirmpassword">Confirm Password</label>
                  <input
                    type="password"
                    name="confirmpassword"
                    class="form-control"
                    id="confirmpassword"
                    placeholder="Confirm Password"
                    value="{{userTB.password}}"
                  />
                </div>
                <div class="form-group" style="padding-left: 0px !important">
                  <label for="email">User Type</label>
                  <select name="usertype" class="custom-select">
                    {% if userTB.user_type == "admin" %}
                    <option value="admin" selected>Admin</option>
                    <option value="user">User</option>
                    {% else %}
                    <option value="admin">Admin</option>
                    <option value="user" selected>User</option>
                    {% endif %}
                  </select>
                </div>
                <div class="form-group mb-0">
                  <div class="custom-control custom-checkbox">
                    {% if userTB.user_status == "1" %}
                    <input
                      type="checkbox"
                      name="activatenow"
                      class="custom-control-input"
                      id="activatenow"
                      checked
                    />
                    {% else %}
                    <input
                      type="checkbox"
                      name="activatenow"
                      class="custom-control-input"
                      id="activatenow"
                    />
                    {% endif %}
                    <label class="custom-control-label" for="activatenow"
                      >Activate Now</label
                    >
                  </div>
                </div>
              </div>

              {% if flg == True %}
              <div class="form-group" style="padding-left: 20px" id="err">
                <label class="label" for="ckb1" id="errtxt" style="color: red">
                  {{msg}}
                </label>
              </div>
              {% endif %}
              <!-- /.card-body -->
              <div class="card-footer">
                <button
                  type="submit"
                  class="btn btn-primary"
                  onclick="validateform()"
                >
                  Save Changes
                </button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6"></div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<script type="text/javascript">
  function validateform() {
    var name = document.myform.fullname.value;
    var email = document.myform.email.value;
    var password = document.myform.password.value;
    var confpassword = document.myform.confirmpassword.value;

    if (
      name == null ||
      name == "" ||
      password == null ||
      password == "" ||
      confpassword == null ||
      confpassword == "" ||
      email == null ||
      email == ""
    ) {
      document.getElementById("err").style.visibility = "visible";
      document.getElementById("errtxt").textContent =
        "Please fill all the required fields";
      return false;
    } else if (confpassword != password) {
      document.getElementById("err").style.visibility = "visible";
      document.getElementById("errtxt").textContent = "Password Doesn't Match";
      return false;
    } else {
      return true;
    }
  }
</script>

{% endblock %}
